PICircuits/Flow3_DHT/DHTTempHumidFlow.txt
[{"id":"ac522074.79ab6","type":"rpi-dht22","z":"3d770c17.d2b7b4","name":"DHT11 Sensor Measure","topic":"rpi-dht22","dht":"11","pintype":"0","pin":4,"x":410,"y":180,"wires":[["8916bdae.d94f3"]]},{"id":"1957847.ab9837c","type":"debug","z":"3d770c17.d2b7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":140,"wires":[]},{"id":"811aaf13.05b29","type":"inject","z":"3d770c17.d2b7b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["ac522074.79ab6"]]},{"id":"8916bdae.d94f3","type":"function","z":"3d770c17.d2b7b4","name":"Parser","func":"var temp = msg.payload.toString();\nvar hum = msg.humidity.toString();\n\nmsg.payload = \"The temperature is \" + temp + \" C \" + \" and Humidity is \" + hum + \" % at Kelambakkam\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["1957847.ab9837c"]]},{"id":"afa854d2.37c528","type":"e-mail","z":"3d770c17.d2b7b4","server":"smtp.gmail.com","port":"465","secure":true,"name":"petritiarichard@yahoo.co.in","dname":"ToGmail","x":770,"y":360,"wires":[]}]