PICircuits/MainFlow/CloudFlow.txt
[{"id":"46dbf841.363788","type":"ibmiot in","z":"1993a460.65948c","authentication":"apiKey","apiKey":"8f1d2829.35cc78","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT11Device","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":180,"wires":[["23b718f0.db0cb8"]]},{"id":"7a5b5f0.74509a","type":"function","z":"1993a460.65948c","name":"Twitter Parser","func":"var temp = msg.payload;\nvar hum = msg.humidity;\n\nmsg.payload = \"The temperature is \" + temp + \" C \" + \" and Humidity is \" + hum + \" % at Kelambakkam\";\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["91f7ddb2.281f"]]},{"id":"91f7ddb2.281f","type":"twitter out","z":"1993a460.65948c","twitter":"","name":"Tweet","x":651,"y":232,"wires":[]},{"id":"a5ab98ce.fcf5e8","type":"telegram sender","z":"1993a460.65948c","name":"","bot":"2734adc8.ff7622","x":688.5,"y":314,"wires":[[]]},{"id":"71a6674b.d7cc48","type":"function","z":"1993a460.65948c","name":"Telegram Parser","func":"var temp = msg.payload;\nvar hum = msg.humidity;\nvar msgcontent = \"The temperature is \" + temp + \" C \" + \" and Humidity is \" + hum + \" percentage at Kelambakkam\";\n\njsonmsg = {};\n\njsonmsg[\"chatId\"] = \"-305039340\";\njsonmsg[\"type\"] = \"message\";\njsonmsg[\"content\"] = msgcontent;\nreturn msg;","outputs":1,"noerr":0,"x":453.5,"y":239,"wires":[["a5ab98ce.fcf5e8"]]},{"id":"d9cca0c3.04fcd","type":"function","z":"1993a460.65948c","name":"Parser for John bot","func":"var temp = msg.payload;\nvar hum = msg.humidity;\nvar msgcontent = \"The temperature is \" + temp + \" C \" + \" and Humidity is \" + hum + \" percentage at Kelambakkam\";\n\njsonmsg = {};\n\njsonmsg[\"chatId\"] = \"526770216\";\njsonmsg[\"type\"] = \"message\";\njsonmsg[\"content\"] = msgcontent;\nreturn msg;\n","outputs":1,"noerr":0,"x":436.5,"y":356,"wires":[["d90a315c.d8ffa"]]},{"id":"9698a075.851a3","type":"debug","z":"1993a460.65948c","name":"Telegram Garage Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":715,"y":537,"wires":[]},{"id":"623b912f.a436a","type":"debug","z":"1993a460.65948c","name":"Telegram John Bot Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":605,"wires":[]},{"id":"d90a315c.d8ffa","type":"telegram sender","z":"1993a460.65948c","name":"Telegram Sender 1 ","bot":"2734adc8.ff7622","x":697.5,"y":375,"wires":[[]]},{"id":"23b718f0.db0cb8","type":"debug","z":"1993a460.65948c","name":"Twitter Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":456,"y":74,"wires":[]},{"id":"8f1d2829.35cc78","type":"ibmiot","z":"","name":"FromDHT11","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2734adc8.ff7622","type":"telegram bot","z":"","botname":"JohnSylvesterBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]