PICircuits/MainFlow/RaspbiFlow.txt
[{"id":"a2b3be1a.9dfe3","type":"inject","z":"d5c4c1f7.d8ce2","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":133,"wires":[["5a92b405.a94e1c"]]},{"id":"375d3644.52f16a","type":"debug","z":"d5c4c1f7.d8ce2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":605,"y":129,"wires":[]},{"id":"5a92b405.a94e1c","type":"rpi-dht22","z":"d5c4c1f7.d8ce2","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":4,"x":320.5,"y":217,"wires":[["6090379d.b12f98"]]},{"id":"f75eb931.9b96c8","type":"wiotp out","z":"d5c4c1f7.d8ce2","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"ff3e5401.8eaf58","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"toIBMWatsonIoT","x":682.5,"y":264,"wires":[]},{"id":"6090379d.b12f98","type":"function","z":"d5c4c1f7.d8ce2","name":"Parser","func":"msg.payload.temp = msg.payload;\nmsg.payload.hum  = msg.humity;\nreturn msg;","outputs":1,"noerr":0,"x":468.5,"y":246,"wires":[["f75eb931.9b96c8","375d3644.52f16a"]]},{"id":"ff3e5401.8eaf58","type":"wiotp-credentials","z":"","name":"toIBMIoT","org":"vi4nr5","serverName":"","devType":"DHT11FromHome","devId":"DHT11Device","keepalive":"60","cleansession":true,"tls":"","usetls":false}]