PICircuits/Flow1/FirstLEDFlow.txt
[{"id":"62e557d9.a933d8","type":"rpi-gpio out","z":"3d770c17.d2b7b4","name":"RedLED GPIO 11","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":140,"wires":[]},{"id":"8b04b8b5.27b5f8","type":"inject","z":"3d770c17.d2b7b4","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["62e557d9.a933d8","e81088b8.2762f8"]]},{"id":"39957f21.39d5a","type":"inject","z":"3d770c17.d2b7b4","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["62e557d9.a933d8","e81088b8.2762f8"]]},{"id":"e81088b8.2762f8","type":"debug","z":"3d770c17.d2b7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":60,"wires":[]}]