PICircuits/Flow2/Flow2Blinking.txt
[{"id":"9159963a.3453a8","type":"inject","z":"b963a6fa.1c3268","name":"Inject_every_3sec","topic":"","payload":"false","payloadType":"bool","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["d47f15cf.2f9db8"]]},{"id":"d47f15cf.2f9db8","type":"trigger","z":"b963a6fa.1c3268","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"trigger 2 sec","x":450,"y":100,"wires":[["5f0795c5.16eedc"]]},{"id":"5f0795c5.16eedc","type":"rpi-gpio out","z":"b963a6fa.1c3268","name":"Red LED GPIO 11","pin":"11","set":true,"level":"0","freq":"","out":"out","x":800,"y":100,"wires":[]}]